<div class="card-header">
  District <%= data.district %>
</div>
<div class="card-content">

  <div class="stats">
    <ul>
      <li> Total: <%= data.total %>
      <li> External: <%= data.external %>
      <li> # of contributions: <%= data.count %>
    </ul>
  </div>

  <div class="candidates">
    <select class="choose-candidate" data-district="<%= data.district %>" autocomplete=off>
      <option value="">Choose a candidate</option>
    <% data.candidates.forEach(function(candidate) { %>
      <option value="<%= candidate.name %>"><%= candidate.name %></option>
    <% }); %>
    </select>
  </div>

  <div class="canvas-container">
    <div class="canvas-aspect">
      <canvas class="external"></canvas>
    </div>
  </div>

  <div class="canvas-container">
    <div class="canvas-aspect">
      <canvas class="by-date"></canvas>
    </div>
  </div>

</div>