* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

body {
  width: 640px;
  max-width: 100%;
  margin: auto;
}

main.interactive {
  font-family: @df-sans;
  font-size: 15px;
}

h1 {
  font-size: 20px;
}

p.chatter {
  font-size: 16px;
}

.row {
  .display-flex();
  .flex-wrap(wrap);
  padding: 0 2px;

  &.header {
    border-bottom: 1px solid black;
    margin-bottom: 3px;
    background: #333;
    color: white;
  }

  .toggle, .spacer {
    .flex(0 0 20px);
  }

  .toggle {
    cursor: pointer;
    text-align: center;
  }

  .name {
    .flex(1 0 100px);
  }

  .total {
    .flex(1 0 100px);
    text-align: right;
  }

  .external {
    .flex(1 0 100px);
    text-align: right;
  }

  .by-week {
    .flex(1 0 100px);
    text-align: right;
    @media @mobile {
      display: none;
    }
  }
}

.district {

  background: #F8FFF8;

  .opened { display: none }
  .closed { display: inline-block }

  & > .row {
    cursor: pointer;
  }

  &.open {
    background: #C8DDC8;
    // font-weight: bold;

    @media @mobile {
      border: none;
    }

    .opened { display: inline-block }
    .closed { display: none }

    .candidates { display: block }
  }

  .candidates {
    display: none;
    border-left: 1px solid @df-middle-gray;
    border-right: 1px solid @df-middle-gray;
  }

  .candidate {
    font-weight: normal;
    border-bottom: 1px solid @df-light-gray;
    background: white;
    &:nth-child(2n) {
      background: #eee;
    }
  }

}

tiny-pie {
  canvas {
    width: 16px;
    height: 16px;
  }
}

weekly-histogram {
  position: relative;

  canvas {
    height: 16px;
    width: 100%;
  }

  .tooltip {
    position: absolute;
    background: white;
    padding: 8px;
    display: none;
    z-index: 999;
    white-space: pre;
    font-size: 14px;
    line-height: 1.2;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, .2);

    &.show {
      display: block;
    }

    .value {
      font-weight: bold;
    }
  }
}

.source {
  font-size: 13px;
}

.credit {
  float: right;
  font-size: 12px;
  text-transform: uppercase;

  @media @mobile {
    float: none;
    display: block;
    text-align: right;
  }
}