* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

body {
  width: 960px;
  max-width: 100%;
  margin: auto;
}

main.interactive {
  font-family: @df-sans;
  font-size: 15px;
}

.row {
  .display-flex();
  .flex-wrap(wrap);

  .toggle, .spacer {
    .flex(0 0 20px);
  }

  .toggle {
    cursor: pointer;
    text-align: center;
  }

  .name {
    .flex(1 0 100px);
  }

  .total {
    .flex(1 0 100px);
  }

  .external {
    .flex(1 0 100px);
  }

  .by-week {
    .flex(1 0 100px);
  }
}

.district {

  .opened { display: none }
  .closed { display: inline-block }

  & > .row {
    cursor: pointer;
  }

  &.open {
    background: #DDD;
    border-left: 1px solid @df-middle-gray;
    border-right: 1px solid @df-middle-gray;

    .opened { display: inline-block }
    .closed { display: none }

    .candidates { display: block }
  }

  .candidates {
    display: none;
  }

  .candidate {
    border-bottom: 1px solid @df-light-gray;
    background: white;
    &:nth-child(2n) {
      background: #eee;
    }
  }

}

tiny-pie {
  canvas {
    width: 16px;
    height: 16px;
  }
}

weekly-histogram {
  canvas {
    height: 16px;
    width: 100%;
  }
}