<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <h1>Council Election Funding</h1>

      <p>
        This interactive shows all contributions filed with the Seattle Ethics and Elections Committee for the 2015 race. Tap a district on the map to begin. Swipe or use the arrow keys to move between districts and candidates.

      <main class="interactive">
        
          <section class="map card focused">
            <div class="card-header">
              Choose a district <a class="fa fa-map-marker geolocate"></a>
            </div>
            <div class="card-content">
              <div class="map-aspect">
                <leaflet-map fixed zoom=10>
                  <tile-layer layer="cartoPositron"></tile-layer>
                </leaflet-map>
              <div>
            </div>
          </section>

          <section class="district card offscreen"></section>

          <section class="candidate card offscreen"></section>

      </main>
    </responsive-child>

    <script>
window.contribData = <%= JSON.stringify(json.aggregated) %>;
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
