<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body ng-app="election-contrib">

    <responsive-child>
      <h1>Campaign contributions in 2015 Seattle City Council races</h1>
      <p class="chatter">
        This graphic shows campaign contributions made in each of Seattle’s nine City Council races. Click a race to compare contributions to different candidates.
      </p>
      <main class="interactive" ng-controller="table-controller">

        <div class="header row">
          <div class="spacer"></div>
          <div class="name">Name</div>
          <div class="total">Total</div>
          <div class="external">Outside Seattle</div>
          <div class="by-week">Weekly contributions</div>
        </div>

        <div class="district {{!$index ? 'open' : ''}}" ng-repeat="d in contributions" click-toggle="open">

          <div class="row">

            <a class="toggle">
              <i class="fa fa-angle-right closed"></i>
              <i class="fa fa-angle-down opened"></i>
            </a>

            <div class="name">{{d.district > 7 ? "Position" : "District"}} # {{d.district}}</div>

            <div class="total">${{d.total | number:2}}</div>

            <div class="external">
              {{d.external / d.total * 100 | number: 1}}%
              <tiny-pie data="d.external / d.total"></tiny-pie>
            </div>

            <div class="by-week">
              <weekly-histogram data="d.byDate"></weekly-histogram>
            </div>

          </div>

          <div class="candidates">

            <div class="candidate row" ng-repeat="c in d.candidates | orderBy : 'total' : true">
              <div class="spacer"></div>
              <div class="name">{{c.fullName}}</div>
              <div class="total">${{c.total | number:2}}</div>
              <div class="external">
                {{c.external / c.total * 100 || 0 | number:1}}%
                <tiny-pie data="c.external / c.total"></tiny-pie>
              </div>
              <div class="by-week">
                <weekly-histogram data="c.byDate"></weekly-histogram>
              </div>
            </div>

          </div>

        </div>

      </main>
      <span class="credit">Thomas Wilburn / The Seattle Times</span>
      <cite class="source">Source: Seattle Ethics and Elections Commission, updated Aug. 4, 2015</cite>
    </responsive-child>

    <script>
window.contribData = <%= JSON.stringify(json.aggregated) %>;
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
