<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <header class="breadcrumbs">
          <a class="fa fa-globe" row="map"></a>
          <a class="district" row="district"></a>
        </header>
        
        <div class="rows">

          <section class="map row focused">
            <div class="card">
              <div class="card-header">
                Choose a district <a class="fa fa-map-marker geolocate"></a>
              </div>
              <div class="card-content">
                <div class="map-aspect">
                  <leaflet-map fixed zoom=10>
                    <tile-layer layer="cartoPositron"></tile-layer>
                  </leaflet-map>
                <div>
              </div>
            </div>
          </section>

          <section class="district row offscreen">
            <% for (var district in json.aggregated) { var race = json.aggregated[district]; %>
            <div class="district card" data-district="<%= district %>">
              <div class="card-header">
                District <%= district %>
              </div>
              <div class="card-content">
                
                <div class="candidates">
                  <h2>Candidates</h2>
                  <select class="choose-candidate" data-district="<%= district %>" autocomplete="off">
                    <option value="" selected="selected">Choose a candidate</option>
                  <% race.candidates.forEach(function(candidate) { %>
                    <option value="<%= candidate.name %>"> <%= candidate.name %>
                  <% }); %>
                  </select>
                </div>
                
                <div class="stats">
                  <ul>
                    <li> Total: $<%= t.formatNumber(race.total.toFixed(2)) %>
                    <li> Count: <%= t.formatNumber(race.count) %>
                    <li> External: $<%= t.formatNumber(race.external.toFixed(2)) %>
                  </ul>
                </div>

                <div class="canvas-container">
                  <h2>External funding:</h2>
                  <div class="aspect-inner">
                    <canvas class="external-funding"></canvas>
                  </div>
                </div>

                <div class="canvas-container">
                  <h2>Funding by date</h2>
                  <div class="aspect-inner">
                    <canvas class="by-date"></canvas>
                  </div>
                </div>

                <div class="clearing"></div>
              </div>
            </div>
            <% } %>
          </section>

          <section class="candidate row offscreen"></section>

        </div>

      </main>
    </responsive-child>

    <script>
window.contribData = <%= JSON.stringify(json.races) %>;
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
